.fx{
    color: red;
    position: fixed;
    top: 50px;
    right: 20px;
}
.trans{
    width: 100px;
    height: 100px;
    background-color: coral;
    transition: width 5s;}
.trans:hover{
    width: 50px;
}

}
.transform{
    width: 150px;
    height: 50px;
    background-color: blueviolet;
    margin-top: 30px;
    transform: rotate(-25deg);
}
.translate{ width: 200px;
    height: 150px;
    background-color: crimson;
    transform: translate( 100px);
}
.an {
    animation-duration: 10s;
    animation-name: colorh;
    height: 40px;
    background-color: green;
    animation-direction: reverse;
}

@keyframes colorh{
    from{ width: 0px;}
    to{width: 500px;}
}

}